.cordefundofooter{
    background: linear-gradient(36deg,rgba(50, 49, 107, 0.983) 9%, #972dd4 80%  );
  
}
.box1{
    height: 80px !important;
}
.box2{
    height: 60px !important;
}
.redes{
    font-size: 40px !important;
    color: white !important;
}
.textos{
    color: white !important;
}
